IMAGE_TAG=latest

POSTGRES_HOST=postgres
POSTGRES_DB=tutoragent
POSTGRES_USER=tutoragent
POSTGRES_PASSWORD=

MOODLE_WWWROOT=https://moodle.norialabs.com
MOODLE_PORT=8080
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_EMAIL=admin@norialabs.com
DEMO_PASSWORD=
MOODLE_DEBUG=0
MOODLE_SSLPROXY=1

RECOMMENDER_THRESHOLD=0.45
